# COMPUTACIÓN CIENTÍFICA
# Situación Profesional 2
# Clase 3: Pandas
**Prof. Ricardo Piña y Erica Bongiovanni**

# Ejercicio 1

In [28]:
# Abra el archivo C1-Empleados.csv
import pandas as pd
df_empleados = pd.read_csv('Datos/C1-Empleados.csv', sep=';')
df_empleados.head()

   Legajo  Apellido    Nombre  Categoría  Antigüedad  Básico
0    1236    García   Claudia          1           2   12000
1    1247    Moyano    Javier          2           5   16800
2    1250     Pérez      Raul          3           6   21600
3    1258    García     Pablo          5           7   31200
4    1269  Martínez  Carolina          6           8   36000

In [29]:
# Calcule cuanto pagar de antiguedad si es 
# el 1,5 del básico por cada año de antiguedad
Valor = (df_empleados.Antigüedad * 1.5) * df_empleados.Básico

In [30]:
#Asigne ese resultado al df
df_empleados['AntiguedadSobreBásico'] = Valor
df_empleados

,Legajo,Apellido,Nombre,Categoría,Antigüedad,Básico,AntiguedadSobreBásico
0,1236,García,Claudia,1,2,12000,36000.0
1,1247,Moyano,Javier,2,5,16800,126000.0
2,1250,Pérez,Raul,3,6,21600,194400.0
3,1258,García,Pablo,5,7,31200,327600.0
4,1269,Martínez,Carolina,6,8,36000,432000.0
5,1280,López,Franco,8,9,45600,615600.0
6,1291,Romero,Esteban,7,5,40800,306000.0
7,1302,Gómez,Federico,9,4,50400,302400.0
8,1313,López,Mirtha,5,2,31200,93600.0
9,1324,Cabral,Mónica,4,3,26400,118800.0
10,1335,Arias,Daniela,2,1,16800,25200.0
11,1346,Pérez,Laura,6,4,36000,216000.0
12,1357,Ruiz,Josefina,2,5,16800,126000.0
13,1368,Lacasio,Giorgina,3,2,21600,64800.0
14,1379,Barilá,Martina,4,6,26400,237600.0
15,1390,Romero,Emilio,5,7,31200,327600.0
16,1401,Yadarola,Adrián,6,5,36000,270000.0
17,1412,Cornavaca,Esteban,4,8,26400,316800.0
18,1423,Moreno,Romina,5,4,31200,187200.0
19,1434,Limia,Josefina,2,2,16800,50400.0
20,1445,Pérez,Sofia,3,1,21600,32400.0
21,1456,Vargas,Carla,6,5,36000,270000.0
22,1467,Rodriguez,Mariana,5,2,31200,93600.0
23,1478,Fernandez,Roxana,4,4,26400,158400.0
24,1489,Pereyra,Sabina,5,2,31200,93600.0
25,1500,Rosales,Silvina,6,5,36000,270000.0
26,1511,Pedraza,Rodrigo,2,4,16800,100800.0
27,1522,Roca,David,3,5,21600,162000.0
28,1533,Medrano,Ivan,5,7,31200,327600.0
29,1544,Reyes,Raul,4,4,26400,158400.0
30,1555,Lozano,Ricardo,5,8,31200,374400.0
31,1566,Zaya,Estaban,6,5,36000,270000.0
32,1577,Victori,Walter,5,2,31200,93600.0
33,1588,Romero,Sergio,4,4,26400,158400.0
34,1599,Peralta,Gustavo,5,5,31200,234000.0
35,1610,Villagra,Gabriel,6,7,36000,378000.0
36,1621,Villafañe,Mariano,5,8,31200,374400.0
37,1632,Visintini,Jorge,5,9,31200,421200.0

In [31]:
#Calcular descuento aporte
#es el 18% del básico
Descuento = df_empleados.Básico * 0.18

In [32]:
#Asignarlo a la columna aporte
df_empleados['Aporte'] = Descuento
df_empleados

,Legajo,Apellido,Nombre,Categoría,Antigüedad,Básico,AntiguedadSobreBásico,Aporte
0,1236,García,Claudia,1,2,12000,36000.0,2160.0
1,1247,Moyano,Javier,2,5,16800,126000.0,3024.0
2,1250,Pérez,Raul,3,6,21600,194400.0,3888.0
3,1258,García,Pablo,5,7,31200,327600.0,5616.0
4,1269,Martínez,Carolina,6,8,36000,432000.0,6480.0
5,1280,López,Franco,8,9,45600,615600.0,8208.0
6,1291,Romero,Esteban,7,5,40800,306000.0,7344.0
7,1302,Gómez,Federico,9,4,50400,302400.0,9072.0
8,1313,López,Mirtha,5,2,31200,93600.0,5616.0
9,1324,Cabral,Mónica,4,3,26400,118800.0,4752.0
10,1335,Arias,Daniela,2,1,16800,25200.0,3024.0
11,1346,Pérez,Laura,6,4,36000,216000.0,6480.0
12,1357,Ruiz,Josefina,2,5,16800,126000.0,3024.0
13,1368,Lacasio,Giorgina,3,2,21600,64800.0,3888.0
14,1379,Barilá,Martina,4,6,26400,237600.0,4752.0
15,1390,Romero,Emilio,5,7,31200,327600.0,5616.0
16,1401,Yadarola,Adrián,6,5,36000,270000.0,6480.0
17,1412,Cornavaca,Esteban,4,8,26400,316800.0,4752.0
18,1423,Moreno,Romina,5,4,31200,187200.0,5616.0
19,1434,Limia,Josefina,2,2,16800,50400.0,3024.0
20,1445,Pérez,Sofia,3,1,21600,32400.0,3888.0
21,1456,Vargas,Carla,6,5,36000,270000.0,6480.0
22,1467,Rodriguez,Mariana,5,2,31200,93600.0,5616.0
23,1478,Fernandez,Roxana,4,4,26400,158400.0,4752.0
24,1489,Pereyra,Sabina,5,2,31200,93600.0,5616.0
25,1500,Rosales,Silvina,6,5,36000,270000.0,6480.0
26,1511,Pedraza,Rodrigo,2,4,16800,100800.0,3024.0
27,1522,Roca,David,3,5,21600,162000.0,3888.0
28,1533,Medrano,Ivan,5,7,31200,327600.0,5616.0
29,1544,Reyes,Raul,4,4,26400,158400.0,4752.0
30,1555,Lozano,Ricardo,5,8,31200,374400.0,5616.0
31,1566,Zaya,Estaban,6,5,36000,270000.0,6480.0
32,1577,Victori,Walter,5,2,31200,93600.0,5616.0
33,1588,Romero,Sergio,4,4,26400,158400.0,4752.0
34,1599,Peralta,Gustavo,5,5,31200,234000.0,5616.0
35,1610,Villagra,Gabriel,6,7,36000,378000.0,6480.0
36,1621,Villafañe,Mariano,5,8,31200,374400.0,5616.0
37,1632,Visintini,Jorge,5,9,31200,421200.0,5616.0

In [33]:
#Calcular total a cobrar: básico+antiguedad-aportes
Total = df_empleados.Básico + df_empleados.AntiguedadSobreBásico - df_empleados.Aporte

In [34]:
#Asignarlos
df_empleados['Total_a_Cobrar'] = Total

In [35]:
df_empleados

,Legajo,Apellido,Nombre,Categoría,Antigüedad,Básico,AntiguedadSobreBásico,Aporte,Total_a_Cobrar
0,1236,García,Claudia,1,2,12000,36000.0,2160.0,45840.0
1,1247,Moyano,Javier,2,5,16800,126000.0,3024.0,139776.0
2,1250,Pérez,Raul,3,6,21600,194400.0,3888.0,212112.0
3,1258,García,Pablo,5,7,31200,327600.0,5616.0,353184.0
4,1269,Martínez,Carolina,6,8,36000,432000.0,6480.0,461520.0
5,1280,López,Franco,8,9,45600,615600.0,8208.0,652992.0
6,1291,Romero,Esteban,7,5,40800,306000.0,7344.0,339456.0
7,1302,Gómez,Federico,9,4,50400,302400.0,9072.0,343728.0
8,1313,López,Mirtha,5,2,31200,93600.0,5616.0,119184.0
9,1324,Cabral,Mónica,4,3,26400,118800.0,4752.0,140448.0
10,1335,Arias,Daniela,2,1,16800,25200.0,3024.0,38976.0
11,1346,Pérez,Laura,6,4,36000,216000.0,6480.0,245520.0
12,1357,Ruiz,Josefina,2,5,16800,126000.0,3024.0,139776.0
13,1368,Lacasio,Giorgina,3,2,21600,64800.0,3888.0,82512.0
14,1379,Barilá,Martina,4,6,26400,237600.0,4752.0,259248.0
15,1390,Romero,Emilio,5,7,31200,327600.0,5616.0,353184.0
16,1401,Yadarola,Adrián,6,5,36000,270000.0,6480.0,299520.0
17,1412,Cornavaca,Esteban,4,8,26400,316800.0,4752.0,338448.0
18,1423,Moreno,Romina,5,4,31200,187200.0,5616.0,212784.0
19,1434,Limia,Josefina,2,2,16800,50400.0,3024.0,64176.0
20,1445,Pérez,Sofia,3,1,21600,32400.0,3888.0,50112.0
21,1456,Vargas,Carla,6,5,36000,270000.0,6480.0,299520.0
22,1467,Rodriguez,Mariana,5,2,31200,93600.0,5616.0,119184.0
23,1478,Fernandez,Roxana,4,4,26400,158400.0,4752.0,180048.0
24,1489,Pereyra,Sabina,5,2,31200,93600.0,5616.0,119184.0
25,1500,Rosales,Silvina,6,5,36000,270000.0,6480.0,299520.0
26,1511,Pedraza,Rodrigo,2,4,16800,100800.0,3024.0,114576.0
27,1522,Roca,David,3,5,21600,162000.0,3888.0,179712.0
28,1533,Medrano,Ivan,5,7,31200,327600.0,5616.0,353184.0
29,1544,Reyes,Raul,4,4,26400,158400.0,4752.0,180048.0
30,1555,Lozano,Ricardo,5,8,31200,374400.0,5616.0,399984.0
31,1566,Zaya,Estaban,6,5,36000,270000.0,6480.0,299520.0
32,1577,Victori,Walter,5,2,31200,93600.0,5616.0,119184.0
33,1588,Romero,Sergio,4,4,26400,158400.0,4752.0,180048.0
34,1599,Peralta,Gustavo,5,5,31200,234000.0,5616.0,259584.0
35,1610,Villagra,Gabriel,6,7,36000,378000.0,6480.0,407520.0
36,1621,Villafañe,Mariano,5,8,31200,374400.0,5616.0,399984.0
37,1632,Visintini,Jorge,5,9,31200,421200.0,5616.0,446784.0

In [39]:
#Mostrar empleados de la categoría 1
df_empleados[df_empleados.Categoría <= 1]

,Legajo,Apellido,Nombre,Categoría,Antigüedad,Básico,AntiguedadSobreBásico,Aporte,Total_a_Cobrar
0,1236,García,Claudia,1,2,12000,36000.0,2160.0,45840.0

In [37]:
#Mostrar listado de empleados ordenado por básico de mayor a menor
df_empleados.sort_values('Básico', ascending = False)

,Legajo,Apellido,Nombre,Categoría,Antigüedad,Básico,AntiguedadSobreBásico,Aporte,Total_a_Cobrar
7,1302,Gómez,Federico,9,4,50400,302400.0,9072.0,343728.0
5,1280,López,Franco,8,9,45600,615600.0,8208.0,652992.0
6,1291,Romero,Esteban,7,5,40800,306000.0,7344.0,339456.0
16,1401,Yadarola,Adrián,6,5,36000,270000.0,6480.0,299520.0
11,1346,Pérez,Laura,6,4,36000,216000.0,6480.0,245520.0
25,1500,Rosales,Silvina,6,5,36000,270000.0,6480.0,299520.0
21,1456,Vargas,Carla,6,5,36000,270000.0,6480.0,299520.0
35,1610,Villagra,Gabriel,6,7,36000,378000.0,6480.0,407520.0
31,1566,Zaya,Estaban,6,5,36000,270000.0,6480.0,299520.0
4,1269,Martínez,Carolina,6,8,36000,432000.0,6480.0,461520.0
37,1632,Visintini,Jorge,5,9,31200,421200.0,5616.0,446784.0
24,1489,Pereyra,Sabina,5,2,31200,93600.0,5616.0,119184.0
8,1313,López,Mirtha,5,2,31200,93600.0,5616.0,119184.0
30,1555,Lozano,Ricardo,5,8,31200,374400.0,5616.0,399984.0
15,1390,Romero,Emilio,5,7,31200,327600.0,5616.0,353184.0
32,1577,Victori,Walter,5,2,31200,93600.0,5616.0,119184.0
28,1533,Medrano,Ivan,5,7,31200,327600.0,5616.0,353184.0
18,1423,Moreno,Romina,5,4,31200,187200.0,5616.0,212784.0
34,1599,Peralta,Gustavo,5,5,31200,234000.0,5616.0,259584.0
36,1621,Villafañe,Mariano,5,8,31200,374400.0,5616.0,399984.0
3,1258,García,Pablo,5,7,31200,327600.0,5616.0,353184.0
22,1467,Rodriguez,Mariana,5,2,31200,93600.0,5616.0,119184.0
29,1544,Reyes,Raul,4,4,26400,158400.0,4752.0,180048.0
33,1588,Romero,Sergio,4,4,26400,158400.0,4752.0,180048.0
9,1324,Cabral,Mónica,4,3,26400,118800.0,4752.0,140448.0
23,1478,Fernandez,Roxana,4,4,26400,158400.0,4752.0,180048.0
17,1412,Cornavaca,Esteban,4,8,26400,316800.0,4752.0,338448.0
14,1379,Barilá,Martina,4,6,26400,237600.0,4752.0,259248.0
2,1250,Pérez,Raul,3,6,21600,194400.0,3888.0,212112.0
27,1522,Roca,David,3,5,21600,162000.0,3888.0,179712.0
13,1368,Lacasio,Giorgina,3,2,21600,64800.0,3888.0,82512.0
20,1445,Pérez,Sofia,3,1,21600,32400.0,3888.0,50112.0
19,1434,Limia,Josefina,2,2,16800,50400.0,3024.0,64176.0
26,1511,Pedraza,Rodrigo,2,4,16800,100800.0,3024.0,114576.0
1,1247,Moyano,Javier,2,5,16800,126000.0,3024.0,139776.0
12,1357,Ruiz,Josefina,2,5,16800,126000.0,3024.0,139776.0
10,1335,Arias,Daniela,2,1,16800,25200.0,3024.0,38976.0
0,1236,García,Claudia,1,2,12000,36000.0,2160.0,45840.0