In [2]:
import pandas as pd
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [3]:
pip install plotly

Collecting plotly
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
Collecting tenacity>=6.2.0
  Using cached tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.10.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

# Comparación de tiempos ganadores en atletismo

El día de hoy vamos a utilizar un set de datos subido a la plataforma de Kaggle, donde se busca comparar el progreso de los tiempos ganadores en las carreras de atletismo de los Juegos Olímpicos a lo largo de los años. 
https://www.kaggle.com/datasets/bonniesindelar/comparing-progress-of-olympic-winning-track-times

Para comenzar vamos a analizar las carreras de 200 metros llanos de la categoria mujeres.

In [ ]:
df = pd.read_csv('C:\Users\Alumno\Documents\IA_Ciencia_Datos\Semestre 4\Aprendizaje Automatico 2\Clase 1\archive\women200.csv')

In [ ]:
df

,Event,Location,Year,Result,Avg time,"""Change"" value"
0,200M Women,London,1948.0,24.40,22.49,14.1
1,200M Women,Helsinki,1952.0,23.70,NaN,NaN
2,200M Women,Melbourne / Stockholm,1956.0,23.40,NaN,NaN
3,200M Women,Rome,1960.0,24.00,NaN,NaN
4,200M Women,Tokyo,1964.0,23.00,NaN,NaN
5,200M Women,Mexico,1968.0,22.50,NaN,NaN
6,200M Women,Munich,1972.0,22.40,NaN,NaN
7,200M Women,Montreal,1976.0,22.37,NaN,NaN
8,200M Women,Moscow,1980.0,22.03,NaN,NaN
9,200M Women,Los Angeles,1984.0,21.81,NaN,NaN
10,200M Women,Barcelona,1992.0,21.81,NaN,NaN
11,200M Women,Atlanta,1996.0,22.12,NaN,NaN
12,200M Women,Sydney,2000.0,22.27,NaN,NaN
13,200M Women,Athens,2004.0,22.05,NaN,NaN
14,200M Women,Beijing,2008.0,21.74,NaN,NaN
15,200M Women,London,2012.0,21.88,NaN,NaN
16,200M Women,Rio,2016.0,21.78,NaN,NaN
17,200M Women,Tokyo,2021.0,21.53,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN

Solo nos interesa quedarnos con el año y los tiempos.

In [ ]:
df = df[['Year','Result']].dropna()
df

      Year  Result
0   1948.0   24.40
1   1952.0   23.70
2   1956.0   23.40
3   1960.0   24.00
4   1964.0   23.00
5   1968.0   22.50
6   1972.0   22.40
7   1976.0   22.37
8   1980.0   22.03
9   1984.0   21.81
10  1992.0   21.81
11  1996.0   22.12
12  2000.0   22.27
13  2004.0   22.05
14  2008.0   21.74
15  2012.0   21.88
16  2016.0   21.78
17  2021.0   21.53

Podemos graficar cada punto en el plano y marcar la tendencia de estos con el modelito de regresión más sencillo, el calculo de los mínimos cuadrados OLS (Ordinary Least Squares)

In [ ]:
px.scatter(x=df['Year'], y=df['Result'], trendline="ols")

:

Consigna: 
-  Elaborar un modelo de regresión lineal que prediga los valores de los resultados. Calcular el RMSE.
- Crear nuevas varibles con las potencias de la x hasta 8 (https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html)
- Elaborar un nuevo modelo de regresión con estas variables
- https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge
-https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso
-https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html#sklearn.linear_model.ElasticNet

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(8)
X = df[['Year']]
y = df[['Result']]
X = poly.fit_transform(X)
reg = LinearRegression().fit(X, y)
reg.score(X, y)

In [ ]:
a = reg.predict(X)
mean_squared_error(a, y, squared=False)

In [ ]:
from sklearn.linear_model import Ridge
clf = Ridge(alpha=5).fit(X, y)
b = clf.predict(X)
mean_squared_error(y,b,squared=False)

In [ ]:
from sklearn import linear_model
clfL = linear_model.Lasso(alpha=0.1).fit(X, y)
c = clf.predict(X)
mean_squared_error(y,c,squared=False)

In [ ]:
from sklearn.linear_model import ElasticNet
regr = ElasticNet(random_state=0,l1_ratio=0).fit(X, y)
d = regr.predict(X)
mean_squared_error(y,d,squared=False)